footer.page-footer.gradient-45deg-purple-deep-orange
    div.footer-copyright
        div.container
            span Copyright © 2018
                a.grey-text.text-lighten-4(href="http://www.3desquisse.fr" target="_blank")
                    |
                    |studioNS
                |
                | Tous droits réservés.
            span.right.hide-on-small-only Site dévéloppé par
                a.grey-text.text-lighten-4(href="http://www.3desquisse.fr")
                    |
                    | studioNS
// End footer