# This is the host that the app will use
NODE_HOST=
# This is the port number that the app will use
NODE_PORT=

# This is the host for the database, mostly 'localhost' is used
DB_HOST=
# The name of the database
DB_NAME=

# Main module to search for the index entry
# First component name and second route name
# Ex : componentName/route_name)
MAIN=