doctype transitional
html
  head
    meta(http-equiv = 'Content-Type', content = 'text/html; charset=UTF-8')
    title= subject
    body
      h1.h1 Bienvenue !
      p
        strong Activation de votre compte:
        |
        | Veuillez cliquer sur le lien suivant pour activer votre compte Sail And Share :
        br
        br
        <a href="http://localhost:3005/users/verifyEmail/#{token}">activation du compte<a/>
      p
        | Retrouvez nous sur
        |
        <a href="http://sailandshare.fr">sailandshare.fr<a/>
