mixin nextLink(href)
    div.nextLink.hide-on-med-and-down
        a(class="btn-floating btn-large waves-effect waves-dark grey darken-3" href=href)
            i.fal.fa-chevron-down(style="width:56px")
