// Section #actu
div#actu.scrollspy
    //- Actu 1/x Section -->
    div.white.black-text
        section.hide-on-med-and-down
            div.sectionSlider.actuSlider.hideButtons
                ul
                    li
                        div.container
                            h2.title-section Notre dernière actualité
                            div.row
                                div.col.s12
                                    //- Item -->
                                    div.row
                                        //- Item -->
                                        each item in [1,2,3]
                                            div.col.s10.m6.l4.offset-s1.grid
                                                figure.effect-bubba
                                                    img.responsive-img(src=`assets/images/landingPage/actu/${item}/thumb.jpg` alt=`img-${item}`)
                                                    figcaption
                                                        h4.weight-300 First <b>title</b>
                                                        p.grey-text.text-darken-4 Programmer Designer
                                                        a.no-smooth-scroll(href="javascript:$('.actuSlider').moveToLink(0)") Détails
                                        //- End of Item -->
                                        //- //- Item -->
                                        //- <div class="col s10 m6 l4 offset-s1 grid ">
                                        //-     <figure class="effect-bubba">
                                        //-         <img src="assets/images/actu1.jpg" alt="img02" class="responsive-img" />
                                        //-         <figcaption>
                                        //-             h4.weight-300 Second <b>title</b>
                                        //-             <p>Director of Photography</p>
                                        //-             <a href="javascript:$('.actuSlider').moveToLink(1)" class="no-smooth-scroll">Détails</a>
                                        //-         </figcaption>
                                        //-     </figure>
                                        //- </div>
                                        //- //- End of Item -->
                                        //- //- Item -->
                                        //- <div class="col s10 m6 l4 offset-s1 grid ">
                                        //-     <figure class="effect-bubba">
                                        //-         <img src="assets/images/actu4.jpg" alt="img02" class="responsive-img" />
                                        //-         <figcaption>
                                        //-             h4.weight-300 Third <b>title</b>
                                        //-             <p>Still Photographer</p>
                                        //-             <a href="javascript:$('.actuSlider').moveToLink(2)" class="no-smooth-scroll">Détails</a>
                                        //-         </figcaption>
                                        //-     </figure>
                                        //- </div>
                                        //- //- End of Item -->
                    li.link
                        <div class="container">
                            <div class="row">
                                <div class="col s12 m10 offset-m1 l3 animatedBox animatedBox-left animatedBox-list">
                                    <h5>Acticle</h5>
                                    <h6 class="weight-600">Subtitle</h6>
                                    <h6 class="weight-300">Mars, 2015</h6>
                                    <hr>
                                    <p>
                                        Eternity Films official website: <a href="http://eternity-films.com/" target="_blank">Go to website</a>
                                    </p>
                                    <a href="javascript:$('.sectionSlider').backToSlide()" class="btn no-smooth-scroll"><i class="mdi-navigation-arrow-back left"></i>Retour</a>
                                </div>
                                <div class="col s12 m9 l9 offset-m1 animatedBox animatedBox-right">
                                    <div class="fadein video-container">
                                        <img src="assets/images/landingPage/actu/1/img-1.jpg" class="responsive-img z-depth-1" />
                                        <img src="assets/images/landingPage/actu/1/img-2.jpg" class="responsive-img z-depth-1" />
                                        <img src="assets/images/landingPage/actu/1/img-3.jpg" class="responsive-img z-depth-1" />
                                        <img src="assets/images/landingPage/actu/1/img-4.jpg" class="responsive-img z-depth-1" />
                                        <img src="assets/images/landingPage/actu/1/img-5.jpg" class="responsive-img z-depth-1" />
                                        <img src="assets/images/landingPage/actu/1/img-6.jpg" class="responsive-img z-depth-1" />
                                        <img src="assets/images/landingPage/actu/1/img-7.jpg" class="responsive-img z-depth-1" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    li.link
                        <div class="container">
                            <div class="row">
                                <div class="col s12 m10 offset-m1 l3 animatedBox animatedBox-left animatedBox-list">
                                    <h5>Acticle</h5>
                                    <h6 class="weight-600">Subtitle</h6>
                                    <h6 class="weight-100">February, 2014</h6>
                                    <hr>
                                    <p>
                                        <br>Director: Walter Seward
                                        <br>Producer: Saad Mansoor
                                    </p>
                                    <a href="javascript:$('.sectionSlider').backToSlide()" class="btn no-smooth-scroll"><i class="mdi-navigation-arrow-back left"></i>Retour</a>
                                </div>
                                <div class="col s12 m9 l9 offset-m1 animatedBox animatedBox-right">
                                    <div class="video-container">
                                        iframe(width="665" height="374.0625" src="https://www.youtube.com/embed/T6B3nshw6zc"
                                        frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen)
                                    </div>
                                </div>
                            </div>
                        </div>
                    li.link
                        <div class="container">
                            <div class="row">
                                <div class="col s12 m10 offset-m1 l3 animatedBox animatedBox-left animatedBox-list">
                                    <h5>Acticle</h5>
                                    <h6 class="weight-600">Subtitle</h6>
                                    <h6 class="weight-100">October, 2012</h6>
                                    <hr>
                                    <p>
                                        A restaurant, caf&eacute; and gelateria located in Bogot&aacute;, Colombia.
                                    </p>
                                    <a href="javascript:$('.sectionSlider').backToSlide()" class="btn no-smooth-scroll"><i class="mdi-navigation-arrow-back left"></i>Retour</a>
                                </div>
                                <div class="col s12 m9 l9 offset-m1 animatedBox animatedBox-right">
                                    <div class="fadein video-container">
                                        <img src="https://c4.staticflickr.com/8/7336/9495686486_c66a2bff1b_c.jpg" class="responsive-img">
                                        <img src="https://c2.staticflickr.com/8/7450/9495698564_83435c73e0_c.jpg" class="responsive-img">
                                        <img src="https://c2.staticflickr.com/8/7399/9495700890_37b92bfd2f_c.jpg" class="responsive-img">
                                        <img src="https://c2.staticflickr.com/8/7399/9495700890_37b92bfd2f_c.jpg" class="responsive-img">
                                        <img src="https://c1.staticflickr.com/3/2834/9495701688_e37767f444_c.jpg" class="responsive-img">
                                        <img src="https://c2.staticflickr.com/8/7370/9495687540_63bb938c1f_c.jpg" class="responsive-img">
                                    </div>
                                </div>
                            </div>
                        </div>
            +nextLink('#what')
// Separator
div.parallax-container
    div.parallax: img(src="assets/images/landingPage/separator/actu.jpg")