header.ip-header
    div
        img(src="assets/images/logo.png")
        h5.center.weight-100.grey-text.text-lighten-3 Sail<b>and</b>Share
        p.weight-300.center.grey-text.text-darken-0.uppercase Patientez...