doctype html
html
    head
        //- Basic Page Needs
        meta(charset="utf-8")
        title Sail and Share
        meta(name="description" content="Association pour le partage de la voile")
        meta(name="author" content="studioNS")
        //- Mobile Specific Metas
        meta(name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no")
        //- FONT
        link(href='http://fonts.googleapis.com/css?family=Lato:400italic,100,300,700,800,400' rel='stylesheet'
        type='text/css')
        //- ICONS
        script(src='/assets/fonts/icons.js')
        //- CSS
        link(rel="stylesheet" href="assets/css/app.css")

    body
        h1 #{title}
        h2 #{subtitle}
        i.fal.fa-user-secret(style="width:100px;height:100px;")
        span with font !

    script(src='/assets/js/app.js')