// Section #footer
div#footer.scrollspy
    footer.grey.darken-1
        div.container.footer-body

            div.footer-header
                h2.title Pour nous rejoindre

            div.footer-content
                span.content-description
                    |Si vous voulez nous joindre pour participer à l'aventure ou tous simplement parler bateau, n'hésitez pas à nous contacter à
                    |
                    a(href="mailto:hello@sailandshare.fr" class="hover white-text weight-400") hello@sailandshare.fr
                    |. Vous pouvez également découvrir nos photos des différents stages en nous suivant sur
                    |
                    a(href="https://www.flickr.com/photos/danyelangel/" class="hover purple-text text-lighten-2 weight-400"  target="_blank") Instagram
                    |
                    |et suivre notre toute dernière actualité en vous abonnant sur notre page
                    a(href="https://www.behance.net/danyelangel" class="hover blue-text text-lighten-2 weight-400"  target="_blank") Facebook
                    |.
                    br
                    br
                    |Au fait, Une petite vidéo de Reder vras sur
                    a(href="http://open.spotify.com/user/1270826804" class="hover red-text text-lighten-2 weight-400" target="_blank") Youtube
                    | !
                div.content-brand
                    h4.title <br>Sail<b>and</b>Share
                    h6.subtitle Bateau - Voile - Mer
                    br
                    span.copyright © 2018

        div.footer-copyright
            div.container
                div.row
                    div.content "EXPERIMENTATION AND CREATIVITY WILL ALWAYS KEEP ME HAPPY."