ul#dropdownAsso.dropdown-content(style="top: 64px;")
    li: a(href="#equipe" onclick="$('.equipeSlider').moveToSlide(1)") Equipe
    li: a(href="#stages" onclick="$('.stagesSlider').moveToSlide(1)") Stages
    li: a(href="#valeurs" onclick="$('.valeursSlider').moveToSlide(1)") Valeurs

ul#dropdownUser.dropdown-content(style="top: 64px;width:300px;")
    if user && user.role === 'admin'
        li: a(href="/admin")
            i.fa.fa-sign-in
            |
            | Admin
    li: a(href="/users/logout")
        i.fa.fa-sign-out
        |
        | Exit

ul#nav-mobile.sidenav
    li: a(href="#actu") l'actu
    li: a.dropdown-button(data-target="dropdownAsso" href="#asso") L'association
    li: a(href="#gallery") Galerie
    li: a(href="#footer") Nous rejoindre
    li: a(href="/blog") Blog
    if user
        li: a.dropdown-button(data-target="dropdownUser" href="#"): i.fa.fa-user
    else
        li: a(href="/admin"): i.fa.fa-user.teal-text

div.bg-header

div.navbar-fixed
    nav.head-nav
        div.backgroundImage
        div.container
            div.nav-wrapper
                a(class="brand-logo text-logo uppercase" href="/")
                 | Sail
                 b and
                 | Share
                a(class="brand-logo icon-logo" href="/"): img(src="assets/images/logo.png")
                ul#nav-desktop.right.hide-on-med-and-down
                    li: a(href="#actu") l'actu
                    li: a.dropdown-button(data-target="dropdownAsso" href="#asso") L'association
                    li: a(href="#gallery") Galerie
                    li: a(href="#footer") Nous rejoindre
                    li: a(href="/blog") Blog
                    if user
                        li: a.dropdown-button(data-target="dropdownUser" href="#"): i.fa.fa-user.teal-text
                    else
                        li: a(href="/admin"): i.fa.fa-user
                //- Include this line below
                a(class="sidenav-trigger" href="#" data-target="nav-mobile"): i.fa.fa-bars
                //- End