extends ../base.pug
include ../mixins/buttons.pug

block css
    link(rel="stylesheet" href="assets/resources/css/wait.css")
    link(rel="stylesheet" href="assets/css/app.css")

block jsStart
    script(src="assets/resources/js/_bower.js")
    script(src="assets/resources/js/_functions.js")
    script(src="assets/resources/js/scripts.js")

block jsEnd
    script(src='assets/js/app.js')

block body
    //- initial header -->
    include ../components/wait.pug

    // Document Start

    // Navbar
    include ../components/navigation.pug

    // Background Image
    include ../components/header-section.pug
    +firstSection(
        "landingPage@4x-80.jpg",
        "Partager avec nous le plaisir de la voile",
        "Nous sommes à vos cotés",
        "Faites défiler pour découvrir plus"
    )(class="first-section landing")

    // Actu
    include includes/actu.pug

    // Asso
    include includes/asso.pug

    // Galery
    include includes/gallery.pug

    // Footer
    include ../components/footer.pug
